doctype html
html
  head
    title dance hub
    block scripts
    block style
  body
    nav#navbar
         
        ul
            div#logo
                img(src="/static/logotop.png")
                | D HUB
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Gallery]
            li #[a(href="/contact") Contact Us]
            li #[a(href="/") Services]
    block content
    footer#foooter
        |copyright © dancehub.com ALL RIGHTS RESERVED
    