


extends base.pug

block scripts
    script(src='/static/index.js')
  
block style
     style
        include ../static/style.css
    
block content
    section#introsection
            
    section#missionsection
        h2 Welcome To Dance Hub !
        div.card    
            h3 Hip Hop
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi velit obcaecati minima omnis quia natus aliquid quas inventore, laboriosam sunt! Voluptate, aperiam aliquam recusandae cumque, ipsa deserunt tempore dicta esse asperiores repellendus quis eos atque suscipit consequatur illum nesciunt. Non deleniti possimus dolor distinctio iste nesciunt facere, ipsam voluptatibus alias!
        div.card    
            h3 Classical
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi velit obcaecati minima omnis quia natus aliquid quas inventore, laboriosam sunt! Voluptate, aperiam aliquam recusandae cumque, ipsa deserunt tempore dicta esse asperiores repellendus quis eos atque suscipit consequatur illum nesciunt. Non deleniti possimus dolor distinctio iste nesciunt facere, ipsam voluptatibus alias!
        div.card    
            h3 Contemprory
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi velit obcaecati minima omnis quia natus aliquid quas inventore, laboriosam sunt! Voluptate, aperiam aliquam recusandae cumque, ipsa deserunt tempore dicta esse asperiores repellendus quis eos atque suscipit consequatur illum nesciunt. Non deleniti possimus dolor distinctio iste nesciunt facere, ipsam voluptatibus alias!
    section#sponsersection
        h2  Our Sponsers
        div#sponsers 
            img(src="/static/l1.jpg", alt="sponser images" Class="splogo")
            img(src="/static/l2.png", alt="sponser images" Class="splogo")
            img(src="/static/l3.jpg", alt="sponser images" Class="splogo")
            img(src="/static/l4.jpg", alt="sponser images" Class="splogo")
            img(src="/static/l5.jpg", alt="sponser images" Class="splogo")

    